<nav class="navbar navbar-expand-md site-nav" data-bs-theme="dark">
    <div class="container">
        <button class="navbar-toggler my-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Ouvrir le menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            {% for nom, url, icone, sousNav, description, couleur in MENUITEMS %}
                {% set ns = namespace(actif=false) %}
                {% if '/' + output_file == url + '.html' %}{% set ns.actif = true %}{% endif %}
                {% if sousNav %}{% for n, u in sousNav %}{% if '/' + output_file == u + '.html' %}{% set ns.actif = true %}{% endif %}{% endfor %}{% endif %}
                <li class="nav-item {% if sousNav %}dropdown{% endif %}">
                    <a class="nav-link {% if ns.actif %}active{% endif %} {% if sousNav %}dropdown-toggle{% endif %}" title="{{ description }}"
                       href="{{ SITEURL }}{{ url }}.html" {% if sousNav %}role="button" data-bs-toggle="dropdown" aria-expanded="false"{% endif %}>
                        <i class="bi bi-{{ icone }} me-1"></i>{{ nom }}
                    </a>
                    {% if sousNav %}
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ SITEURL }}{{ url }}.html">Vue d'ensemble</a></li>
                        <li><hr class="dropdown-divider"></li>
                        {% for n, u in sousNav %}
                        <li><a class="dropdown-item {% if '/' + output_file == u + '.html' %}active{% endif %}" href="{{ SITEURL }}{{ u }}{% if not u.endswith('.xml') %}.html{% endif %}">{{ n }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>
